<html>
<head>
<script src="./script.js"></script>
<link rel="stylesheet" href="/src/styles.css">

</head>
<body>

<div class="login">
    <form name='form-login'>

        <h1>SIGN IN</h1>

        <label for="email">Email</label>
        <input type="email" id="loginEmail">

        <label for="userPw">Password</label>
        <input type="password" id= "userPw">

        <input id= "login_btn" type="submit" value="Login" onclick="check()">
        <a href="src/app/login/register.component.html">Kayit Ol</a>
    </form>
</div>
</body>

</html>