<html>
<head><title>Kayit Sayfasi</title>
<script src="./script.js"></script>
<link rel="stylesheet" href="/src/styles.css">
</head>
<body>
<div class="login">
    <form name='form-login'>

        <h1>REGISTER</h1>
		
		<label for="name">Name</label>
        <input type="text" id="name">
		
		<label for="surname">Surname</label>
        <input type="text" id="surname">

        <label for="email">Email</label>
        <input type="email" id="email">

        <label for="pw">Password</label>
        <input type="password" id= "pw">
		
		<label for="cpw">Confrim Password</label>
        <input type="password" id= "cpw">
      
        <input id="rgstr_btn" type="submit" value="Register" onclick="store()">
        <a href="src/app/login/login.component.html">Giris Yap</a>
    </form>
</div>

</body>


</html>